<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">VLDsex</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Main page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Registration</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="admin">Admin</a>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>