{% extends 'smartapp/basetempl.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<!--    {% for tor in content %}-->
<!--        {{ tor.idTeacher }}-->
<!--        {{ tor.idDiscipline }}-->
<!--        {{ tor.idGroup }}-->
<!--        {{ tor.datetime }}-->
<!--    {% endfor %}-->

<!--<table class="table">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Фамилия преподавателя</th>-->
<!--      <th scope="col">Название дисциплины</th>-->
<!--      <th scope="col">Номер группы</th>-->
<!--      <th scope="col">Дата и время начала</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    {% for tor in content %}-->
<!--      <tr>-->
<!--        <td scope="row">{{ tor.idTeacher }}</td>-->
<!--        <td>{{ tor.idDiscipline }}</td>-->
<!--        <td>{{ tor.idGroup }}</td>-->
<!--        <td>{{ tor.datetime }}</td>-->
<!--      </tr>-->
<!--    {% endfor %}-->
<!--  </tbody>-->
<!--</table>-->
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(0)'>Понедельник</button>
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(1)'>Вторник</button>
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(2)'>Среда</button>
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(3)'>Четверг</button>
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(4)'>Пятница</button>
    <button type="button" class="btn btn-outline-primary mb-3" onclick='func(5)'>Суббота</button>
    <button type="button" class="btn btn-outline-primary mb-3 active" onclick='func(6)'>Все дни</button>
    <div class="d-flex flex-wrap ml-3" style="width: 100%;">
    {% for tor in content %}
        <div class="card text-white bg-secondary mb-3 me-3" style="width: 15rem;">
          <div class="card-header">{{ tor.idTeacher }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ tor.idDiscipline }}</h5>
            <p class="card-text">{{ tor.idGroup }}</p>
            <p class="card-text">{{ tor.datetime }}</p>
            <p class="card-text">{{ tor.date }}</p>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}