* {
    user-select: none;
}

.btns-container {
    margin: 20px 0;
}

.btn:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.block-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 250px;
}

.card-header {
    background: rgba(13, 110, 253, .1);
}

.card-item-day {
    color: #0d6efd;
    background: white;
    border: 2px solid #0d6efd;
    cursor: pointer;
}

.img-homework {
    align-self: flex-end;
    margin: 0 1rem 1rem 0;
    border: 1px solid rgb(13, 110, 253);
    height: 100%;
    padding: 8px;
    border-radius: 5px;
}

.burger {
    display: none;
    width: 30px;
    height: 33px;
    cursor: pointer;
}

.burger-stick {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.burger-active {
    display: block;
}

.form-select {
    width: 200px;
    position: fixed;
    top: 65px;
    z-index: 1;
    transition: .5s;
    background-color: #212529;
    color: white;
}

.form-select::selection {
    background-color: #0d6efd;
}

.form-select-hide {
    top: 0;
}

.list-group {
    position: absolute;
    top: 65px;
    right: 12px;
    z-index: 1;
    background: #212529;
}

.list-group > a {
    text-decoration: none;
}

.list-group > li {
    background: #212529;
}

.list-group > a:hover {
    background-color: #0d6efd;
}

.list-group-item > a {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}





@media(max-width: 1399px) {
    .block-item {
        grid-template-columns: 1fr 1fr 1fr 250px;
    }
}

@media(max-width: 1199px) {
    .block-item {
        grid-template-columns: 1fr 1fr 250px;
    }
}

@media(max-width: 991px) {
    .block-item {
        grid-template-columns: 1fr 1fr 235px;
    }

    .card-item {
        max-width: 235px !important;
    }

    .container {
        max-width: 100% !important;
    }
}

@media(max-width: 767px) {
    .block-item {
        grid-template-columns: 100%;
    }

    .card-item {
        max-width: 100% !important;
    }

    .btns-container {
        display: none;
    }

    .form-select {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .block-cards {
        margin-top: 120px;
    }
}