 * {
    user-select: none;
}

.btn:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.block-item {
    width: 100%;
}

.card-item {
    width: 15rem;
}

.card-info {
    height: 400px;
    background-color: #6c757d;
}